.image1{
    border-radius: 60%;
    width: 40px;
    height: 40px;
    flex-direction: column;
}

.container{
    color: black;
    height: 8%;    
    width: 1000px;
    padding-left: 3%;
    background-color:ghostwhite
}





