<div class="container">
  
  <div class="btn-container">
    <button class="btn1">TODAY</button>
  </div>


  <div class="paragraph">
  <mat-icon class="myIcon">lock</mat-icon>
      <p>Messages and calls are end-to-end encrypted. Note that no one outside of this chat, not even<br>
          WhatsApp, can read or listen to them. Click to learn more.</p>
  </div>


<div class="content">
    <mat-icon class="myIcon">mood</mat-icon>
    <mat-icon class="myIcon"> attach_file</mat-icon>
    <input type="text" placeholder="Type a message">
    <mat-icon class="myIcon">mic_none</mat-icon>
  </div>


</div>
