
.topMenu{
display: flex;
flex-direction: column;
height: 100vh;
width: 30%;


}
.mainContainer{
display: flex;
flex-direction: row;
background-color: aliceblue;
color: white;


}
app-topbar{
    height: 15%;  
    background-color: #02c0a6;
    }

    app-sidebar{
      height: 85%;
      background-color: white;  
    }

    rightMenu{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 70%;

    }

   
    
    