<div class="image">
    <div class="container">
    <img src="../../assets/Jose Adomo.jpg" class="image1">
    <div class="text">
    <label><b>Jose Adomo</b></label><br>
    <p>it's just a change of mind</p>
</div>
</div>
</div><br><br><br>
<div class="image">
    <mat-icon>notifications</mat-icon>
    <span>Notifications</span>
</div><br>

<div class="image">
    <mat-icon>shield</mat-icon>
    <span>Security</span>
</div><br>

<div class="image">
    <mat-icon>light</mat-icon>
    <span>Theme</span>
</div><br>

<div class="image">
    <mat-icon>image</mat-icon>
    <span>Chat Wallpaper</span>
</div><br>

<div class="image">
    <mat-icon>block</mat-icon>
    <span>Blocked</span>
</div><br>

<div class="image">
    <mat-icon>computer</mat-icon>
    <span>Desktop Settings</span>
</div><br>

<div class="image">
    <mat-icon>A</mat-icon>
    <span>Keyboard Shortcuts</span>
</div><br>

<div class="image">
    <mat-icon>help</mat-icon>
    <span>Help</span>
</div>
